#paneimage{
    -fx-background-image: url("image.jpg");

    
}#paneimage2{
    -fx-background-image: url("Slide-artisanat.jpg");

    
}
#paneimage3{
    -fx-background-image: url("artisanat3.jpg");

    
}
/*#Catalogues {
    -fx-background-color: black, lightgray;
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 5px, 4px;
}
#Catalogues:hover {
    -fx-background-color: black, lightgray;
    -fx-background-insets: 0px, 5px 10px 5px 10px;
    -fx-background-radius: 0px, 0px;
    -fx-background-radius: 5px 0px 5px 0px, 4px 0px 4px 0px;
}
#Boutiques {
    -focus-color: transparent;
    -border-color: black;
    -fill-color: lightgray;
    -fx-background-color: -focus-color, -border-color, -fill-color;
    -fx-background-insets: -1.5px, 0px, 1px;
    -fx-background-radius: 6.5px, 5px, 4px;
}
#Boutiques:hover {
    -fill-color: white;
}
#Boutiques:focused {
    -focus-color: cornflowerblue;
}
#Boutiques:pressed {
    -fill-color: gray;
}
.banner {
    -fx-background-color: #5AC2DD;
    -fx-background-image: url("SlideHeader-1.png"), url("SlideHeader-2.png");
    -fx-background-position: left, right;
    -fx-background-repeat: no-repeat, no-repeat;
}
.star-button {
    -outer-border-color: linear-gradient(from 0% 0% to 100% 100%, goldenrod 0%, darkgoldenrod 100%);
    -inner-border-color: lightgoldenrodyellow;
    -fill-color: linear-gradient(from 0% 0% to 100% 100%, lightgoldenrodyellow 0%, yellow 10%, gold 50%, gold 75%, orange 100%);
    -fill-color: radial-gradient(center 100% 100%, radius 100%, orange 10%, gold 25%, gold 50%, yellow 80%, lightgoldenrodyellow 100%);
    -fx-shape: "m 330,365.21935 c -6.20565,4.97745 -97.52794,-42.69418 -105.47409,-42.31493 -7.94615,0.37925 -94.31316,56.53157 -100.96465,52.16776 -6.65149,-4.36381 10.46679,-105.9478 7.6506,-113.38785 C 128.39568,254.24429 48.302777,189.4564 50.397583,181.78197 52.49239,174.10753 154.39435,158.9968 160.6,154.01935 c 6.20565,-4.97745 43.07253,-101.170885 51.01868,-101.550136 7.94615,-0.379251 53.80675,91.865796 60.45824,96.229606 6.65149,4.36381 109.52937,9.70089 112.34556,17.14093 2.81618,7.44004 -70.74237,79.56135 -72.83717,87.23579 C 309.4905,260.74997 336.20565,360.2419 330,365.21935 Z";    
    -fx-background-color: -outer-border-color, -inner-border-color, -fill-color;
    -fx-background-insets: 0px, 5px, 10px;
}
.star-button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.star-button:focused {
    -outer-border-color: cornflowerblue;
}*/
#menu {
    
    -fx-spacing: 5;
}

#menu .button {
    -fx-pref-height: 30;
    -fx-pref-width: 200;
    -fx-background-color: #66F;
}

#menu .button:hover {
    -fx-background-color: #F6F;
}
#name{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#txtPassword{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#name:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#name:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#txtPassword:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#txtPassword:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#btnLogin {
    -fx-background-color:#F0E68C ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

#btnLogin:hover {
    -fx-background-color:#FFFFF0;
    -fx-background-radius:0;
    
    -fx-border-width: 0 3 3 0;
}
#name1{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
	-fx-focus-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#txtPassword1{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#name1:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#name1:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#txtPassword1:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
 
#txtPassword1:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#btnLogin1 {
    -fx-background-color:#F0E68C ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

#btnLogin1:hover {
    -fx-background-color:#FFFFF0;
    -fx-background-radius:0;
    
    -fx-border-width: 0 3 3 0;
}
#SupprimerCompte{
    -fx-background-color:#F0E68C ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}
#SupprimerCompte:hover {
    -fx-background-color:#FFFFF0;
    -fx-background-radius:0;
    
    -fx-border-width: 0 3 3 0;
}
#Editer{
    -fx-background-color:#F0E68C ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}
#Editer:hover {
    -fx-background-color:#FFFFF0;
    -fx-background-radius:0;
    
    -fx-border-width: 0 3 3 0;
}
#nom{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#nom:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#nom:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#datedenaissance{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#datedenaissance:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#datedenaissance:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#adresse{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#adresse:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#adresse:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#ville{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#ville:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#ville:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#numerodetelephone{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#numerodetelephone:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#numerodetelephone:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#email{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#email:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#email:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#cemail{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#cemail:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#cemail:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#password{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#password:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#password:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#numerodecartebancaire{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#numerodecartebancaire:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#numerodecartebancaire:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#datedevalidation{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#datedevalidation:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#datedevalidation:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#ccv{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#ccv:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#ccv:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;

}
#cpassword{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#cpassword:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#cpassword:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#zip{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#zip:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#zip:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#sexe{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#sexe:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#sexee:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#prenom{
	-fx-background-color: transparent, white, transparent, white;
	-fx-text-box-border: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#prenom:hover
{
    -fx-background-color: transparent, #909090, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

#prenom:focused
{
    -fx-background-color: transparent, #009EF, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}
#annuler {
    -fx-background-color:#F0E68C ;
    -fx-background-radius:0;
    -fx-border-color:transparent;
    -fx-border-width: 0 3 3 0;
}

#annuler:hover {
    -fx-background-color:#FFFFF0;
    -fx-background-radius:0;
    
    -fx-border-width: 0 3 3 0;
}